<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002076090459-7lq3oouii7oeqg11nsi8a858a24l71un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002076090459-7lq3oouii7oeqg11nsi8a858a24l71un</string>
	<key>API_KEY</key>
	<string>AIzaSyDeheoc-M6-3OXnQ5qfINZa7nr9IB9P_00</string>
	<key>GCM_SENDER_ID</key>
	<string>1002076090459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginDemoGetx</string>
	<key>PROJECT_ID</key>
	<string>demoformac-edf0e</string>
	<key>STORAGE_BUCKET</key>
	<string>demoformac-edf0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002076090459:ios:8ef5fa02971a3103e64f7e</string>
</dict>
</plist>